body {
    background-color: #E9E6E6;
    position: relative;
    display: flex;
    flex-direction: column;
}

h1 {
    position: absolute;
    display: inline-block;
    /* Membuat elemen h1 menjadi inline-block */
    background-color: #F36E5D;
    /* Memberikan warna latar belakang */
    color: #FFFFFF;
    /* Memberikan warna teks */
    padding: 10px 10px;
    /* Memberikan padding di sekitar teks */
    top: -30px;
    left: -8px;
}

h1::after {
    content: " Cacar";
    color: black;
}

/*=========== LOGIN ==========*/
#backgroundInLogin {
    position: absolute;
    background-color: #F0EFEF;
    margin-top: 60px;
    border-radius: 70px;
    padding: 10px 100px;
    align-self: center;
}

#welcomeInLogin {
    text-align: center;
    font-size: 25px;
}

#gambarLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}

#username {
    width: 100%;
    border: solid #FB7476;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

#password {
    width: 100%;
    border: solid #FB7476;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

#buttonLogin {
    background-color: #F36E5D;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 100px;
}
/* ============================================= */

/*=========== DASHBOARD ==========*/

#welcomeInDashboard {
    margin-top: 75px;
    text-align: left;
    font-size: 20px;
}

#btnlogOut {
    font-size: 15px;
    cursor: pointer;
}

#backgroundDashboard {
    background-color: #F0EFEF;
    top: 105%;
    position: absolute;
    border-radius: 70px;
    padding: 10px 200px;
    align-self: center;
    align-items: center;
}

#startClassification::after {
    content: " Cacar";
    color: #FF0000;
}

#gambarDashboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btnToIndex1 {
    background-color: #F36E5D;
    border: #F36E5D;
    color: #FFFFFF;
    font-size: 25px; /* Sesuaikan ukuran font */
    cursor: pointer;
    border-radius: 100px;
    float: left; /* Mengatur agar btnToIndex1 mengapung ke kiri */
    margin-right: 60px; /* Sesuaikan jarak antara tombol */
}

#btnToIndex2 {
    background-color: #F36E5D;
    border: #F36E5D;
    color: #FFFFFF;
    font-size: 25px; /* Sesuaikan ukuran font */
    cursor: pointer;
    border-radius: 100px;
    float: left; /* Mengatur agar btnToIndex2 mengapung ke kiri */
    margin-left: 60px;
}

/* ============================================= */

/*=========== INDEX1 ==========*/
#gambarKlasifikasi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 300px;
    height: 200px;
}
#fileInput {
    position: absolute;
    top: 115%;
    left: 30%;
}

#predictButton {
    position: absolute;
    background-color: #F36E5D;
    border: #F36E5D;
    color: #FFFFFF;
    font-size: 24;
    cursor: pointer;
    border-radius: 100px;
    top: 110%;
    right: 30%;
    font-size: 25px;
}

#background {
    background-color: #F0EFEF;
    top: 130%;
    position: absolute;
    border-radius: 70px;
    padding: 10px 200px;
    align-self: center;
}

#hasilPrediksi {
    font-size: 20px;
}

#predictionResult {
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}
/* ============================================= */






#uploadButton {
    position: absolute;
    background-color: #F36E5D;
    border: #F36E5D;
    color: #FFFFFF;
    font-size: 24;
    cursor: pointer;
    border-radius: 100px;
    position: absolute;
    top: 110%;
    left: 30%;
    font-size: 25px;
}





