body {
    background-color: #E9E6E6;
    position: relative;
    display: flex;
    flex-direction: column;
}

h1 {
    position: absolute;
    display: inline-block;
    background-color: #F36E5D;
    color: #FFFFFF;
    padding: 10px 10px;
    top: -30px;
    left: -8px;
}

h1::after {
    content: " Cacar";
    color: black;
}

/*=========== LOGIN ==========*/
#backgroundInLogin {
    position: absolute;
    background-color: #F0EFEF;
    margin-top: 60px;
    border-radius: 70px;
    padding: 10px 100px;
    align-self: center;
}

#welcomeInLogin {
    text-align: center;
    font-size: 25px;
}

#gambarLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}

#errorWarning {
    color: red;
    text-align: center;
    font-weight: bold;
}

#username {
    width: 100%;
    border: solid #FB7476;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

#password {
    width: 100%;
    border: solid #FB7476;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

#buttonLogin {
    width: 100%;
    background-color: #F36E5D;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 100px;
}
/* ============================================= */

/*=========== DASHBOARD ==========*/

#welcomeInDashboard {
    margin-top: 75px;
    text-align: left;
    font-size: 20px;
}

#btnlogOut {
    position: absolute;
    background-color: #F36E5D;
    border: #F36E5D;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    top: 10px;
    right: 8px;
}

#backgroundDashboard {
    background-color: #F0EFEF;
    top: 105%;
    position: absolute;
    border-radius: 70px;
    padding: 10px 200px;
    align-self: center;
}

#startClassification::after {
    content: " Cacar";
    color: #FF0000;
}

#gambarDashboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btnToIndex1 {
    background-color: #F36E5D;
    border: #F36E5D;
    color: #FFFFFF;
    font-size: 25px; /* Sesuaikan ukuran font */
    cursor: pointer;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
}

/* ============================================= */

/*=========== INDEX1 ==========*/
#gambarKlasifikasi{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 300px;
    height: 200px;
}

#fileInput {
    position: absolute;
    top: 115%;
    left: 30%;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}
.custom-file-upload span {
    margin: 0;
}

#predictButton {
    position: absolute;
    background-color: #F36E5D;
    border: #F36E5D;
    color: #FFFFFF;
    font-size: 24;
    cursor: pointer;
    border-radius: 100px;
    top: 110%;
    right: 30%;
    font-size: 25px;
}

#background {
    background-color: #F0EFEF;
    top: 130%;
    position: absolute;
    border-radius: 70px;
    padding: 10px 200px;
    align-self: center;
}

#hasilPrediksi {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#fileError {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

#predictionResult {
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

#predictionDuration {
    text-align: center;
}
/* ============================================= */

