<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Dashboard</title>
</head>
<body>
    <h1>Klasifikasi</h1>
    <h2 id="welcomeInDashboard">Jumpa lagi, {{ username }} 👋</h2>
    <form action="/logout">
        <button type="submit" id="btnlogOut">Log Out</button>
    </form>

    <img src="{{ url_for('static', filename='bro1.png') }}" alt="" id="gambarDashboard">

    <div id="backgroundDashboard">
        <h2 id="startClassification">Yuk, Mulai Klasifikasi</h2>
        
        <form action="/index1">
            <button type="submit" id="btnToIndex1">index1</button>
        </form>

        <form action="/index2">
            <button type="submit" id="btnToIndex2">index2</button>
        </form>

    </div>
    
</body>
</html>