<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Image Prediction</title>
</head>
<body>
    <h1>Klasifikasi</h1>
    <img src="{{ url_for('static', filename='noImage.png') }}" alt="NoImage" id="gambarKlasifikasi">
    <input type="file" id="fileInput" accept="image/*" onchange="validateFileType()">
    <button onclick="uploadImage()" id="predictButton">Predict</button>
    <div id="background">
        <p id="hasilPrediksi">Hasil Prediksi :</p>
        <div id="predictionResult"></div>
    </div>
    
    <script>

        function validateFileType(){
            var fileName = document.getElementById("fileInput").value;
            var idxDot = fileName.lastIndexOf(".") + 1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
            if (extFile !== "jpg" && extFile !== "jpeg" && extFile !== "png"){
                alert("Only jpg/jpeg and png files are allowed!");
                fileInput.value = ''; // Menghapus file yang salah dipilih
            }   
        }

        function uploadImage() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('image', file);

            // Buat objek URL untuk gambar yang dipilih
            const imageURL = URL.createObjectURL(file);
            
            // Perbarui atribut src dari elemen img
            const imgElement = document.getElementById('gambarKlasifikasi');
            
            // Menetapkan ukuran gambar yang sama dengan noImage.png
            imgElement.width = 300; // Sesuaikan dengan lebar noImage.png
            imgElement.height = 200; // Sesuaikan dengan tinggi noImage.png

            // Menetapkan sumber gambar ke elemen img
            imgElement.src = imageURL;

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('predictionResult').innerText = data.prediction;
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
