<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Prediction</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Klasifikasi</h1>
    <input type="file" id="fileInput">
    <button onclick="uploadImage()" id="predictButton">Predict</button>
    <div id="predict">
        <p>Hasil Prediksi :</p>
        <div id="predictionResult"></div>
    </div>
    

    <script>
        function uploadImage() {
            const fileInput = document.getElementById('fileInput');
            const file = fileInput.files[0];
            const formData = new FormData();
            formData.append('image', file);

            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('predictionResult').innerText = data.prediction;
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
